<header class="navbar">
    <nav class="navbar-content">
        <h1 class="navbar-title">
            <a href="/" class="link-nowrap-nodec" title="Link to home">{{- .Site.Title -}}</a>
        </h1>
        <ul class="navbar-internal-links">
            <li>
                <a href="/about" class="link-nowrap-nodec" title="Link to about page">About</a>
            </li>
            <li>
                <a href="https://github.com/mitchellhenke/lodes" class="link-nowrap-nodec" title="GitHub">GitHub</a>
            </li>
        </ul>
    </nav>
</header>
